.logo {
    height:100px;
    width: 180px;
    background: rgba(255, 255, 255,.8);
    margin: 10px;
    text-decoration-color: aliceblue;
  
}

.navigation-header{
  margin:1em;  
}

 .flex-center-all{
     display: flex;
      justify-content: space-between;
      align-items: center;
 } 